<div class="row">
  <div class="span4">
  	<h2>Navigation Bar</h2>
  </div>
  <div class="span8">
  	<h1>This is the community page!</h1>
	<p>
		You've found the community beta page I have created while learning for the
		<%= link_to "One Month Rails", "http://onemonthrails.com" %>
		application.  
	</p>
	<p>
		There are some things on this page, I need a refesher on as of 3-12-13 because I don't remember why we use a linkto here instead of the a references...
	</p>
	<p>
		Of note on this page:  the grid layout!  4 columns + 8 columns...
	</p>
	<p>
		<%= link_to "Sign Up Now!", "#" %>
	</a>
  </div>
</div>
