<div class="hero-unit">
	<h1>Welcome to Emily's Demo Application!</h1>
		<p>
			This is the homepage of the application I am building as part of the
			<%= link_to "One Month Rails", "http://onemonthrails.com" %>
			course.  You can sign up to be part of my site and the application that I am building!
		</p>
		<p>
			<%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-large" %>
		</p>
</div>
