<div class="footer">
	<small>
		For more information about the course I am following in order to build this application, visit 
		<%= link_to "One Month Rails", "http://onemonthrails.com" %>
		by <%= link_to "Mattan Griffel", "http://mattangriffel.com" %>
	</small>
</div>